# DANCE_Analysis specific ignores

diagnostics/*
!diagnostics/.gitkeep
*.root
rootlogon.C
Failed_Analysis.txt
Readout_Status_Failures.txt
AutoDict*
calib_ideal_*.dat
!calib_ideal_20??.dat
cfg_files/stage1_*.cfg
!cfg_files/stage1_mid.cfg
!cfg_files/stage1_simulated.cfg

# And we ignore common editor backups
*~
*.bak
.*.sw?


# general programming ignores suggested from GitHub

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
